*{
    margin: 0;
    background: #b2c302;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #838f02;
}

.snake{
    margin-top: 0px;

}
.snake canvas{
    display: flex;
    border:3px solid rgb(0, 0, 0);
}

.counting{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: right;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    background: #838f02;
}
.counter{
    background: #838f02;
}



.main-menu{
    display: block;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    z-index: 10000;
        border: 3px solid black;
        padding: 100px;
        background: #3f4402;
}

.Score{
    color: white;
}
.Score h2{
    background: #3f4402;    
    padding: 10px;
    display: flex;
    justify-content: center;
}
.Score div{
    background: #3f4402;
    font-size: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menuButtons{
    background: #3f4402;
    display: flex;
    justify-content: center;
}
.menuButtons button{
    background: #3f4402;
    height: 40px;
    width: 150px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 20px  10px 0px 10px;
}
.menuButtons button:hover{
    background: #747e04;
    transition: .3s;
    cursor: pointer;
}

.music-volume{
    background: #3f4402;
    display: flex;
    justify-content: center;
}
.music-volume button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f4402;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-top: 10px;
    font-size: 20px;
}
.music-volume button:hover{
    background: #747e04;
    transition: .3s;
    cursor: pointer;
}

.music-volume ion-icon{
    background: none;
    display: flex;
}

.music-volume span{
    display: none;
}